.contact tr{
  height: 7rem;
}
.contact th{
  width: 150px;
  text-align: right;
}
.contact td{
  width: 480px;
  padding-left: 1rem;
}
.submit {
  font-size: 3rem;
  color: white;
  background-color: #008B8B;
  margin: 1rem;
  text-align: center;
}
.submit:hover {
  opacity: 0.5;
}
.button {
  text-align: center;
}
.contact-input {
  width: 480px;
}
